# Teaching notes from today

## List Comprehensions

List Comprehensions provide an elegant way to create new lists.    
The following shows the basic structure of a list comprehension:

In [ ]:
[x for x in [1, 2, 3, 4]]

[1, 2, 3, 4]

Et for loop der skrives som dette:

In [ ]:
l = []
for i in range(1, 10):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Kunne skrives mere elegangt med en list comprehension

In [ ]:
[i for i in range(1, 10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### STUDENTS 10 MINUTES TASK 
**(Ex 1: Alphabet List Comprehensions)**

1. Create a list of capital letters in the english alphabet
2. Create a list of capital letter from the english aplhabet, but exclude 4 with the Unicode code point of either 70, 75, 80, 85.
3. Create a list of capital letter from from the english aplhabet, but exclude every second between F & O

### if, else
**if**

In [ ]:
[x for x in range(1, 10) if x%2 == 0]

[2, 4, 6, 8]

**else**

In [ ]:
[x  if x%2 == 0 else 'un-even'  for x in range(1, 10)]

['un-even', 2, 'un-even', 4, 'un-even', 6, 'un-even', 8, 'un-even']

### Nested for loops
Like you can do a nested for loop

In [ ]:
l = []
for i in range(3):
    for j in range(2):
        l.append((i, j))
l

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

You can create nested list comprehensions

In [ ]:
[(i,j) for i in range(3) for j in range(2)]

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

### STUDENTS 10 MINUTES TASK
**Ex 2: Clothes List Comprehension**

1. From 2 lists, using a list comprehension, create a list containing:

In [ ]:
[('Black', 's'), ('Black', 'm'), ('Black', 'l'), ('Black', 'xl'), ('White', 's'), ('White', 'm'), ('White', 'l'), ('White', 'xl')]

[('Black', 's'),
 ('Black', 'm'),
 ('Black', 'l'),
 ('Black', 'xl'),
 ('White', 's'),
 ('White', 'm'),
 ('White', 'l'),
 ('White', 'xl')]

In [ ]:
colors = ['Black', 'White']
sizes = ['s', 'm', 'l', 'xl']

2. If the tuple pair is in the following list, it should not be added to the comprehension generated list.

In [ ]:
sold_out = [('Black', 's'),('White', 'l')]

## Python One-Liners

Python is known for its capability to express complex operations in concise one-liners, often making use of features like comprehensions, lambda functions, and ternary operators. Here are several examples of Python one-liners that utilize various features of the language:

In [33]:


age = 14
x = 4
a = 'a'
b = 'b'

### 1. Filtering a List
Using a list comprehension to filter elements.

In [17]:
numbers = [1, 5, 9, 10, 100, 200, 300, 400, 500]

In [18]:
filtered = [x for x in numbers if x > 10]
filtered

[100, 200, 300, 400, 500]

### 2. Mapping Over a List
Applying a function to each element in a list.

In [15]:
numbers = [1, 5, 9, 10, 100, 200, 300, 400, 500]

In [16]:
squared = [x**2 for x in numbers]
squared

[1, 25, 81, 100, 10000, 40000, 90000, 160000, 250000]

### 3. Joining a List of Strings
Concatenating a list of strings into a single string.

In [ ]:
strings = ['Hello', 'world', 'Claus', 'is', 'my', 'name']

In [11]:
joined_string = ' '.join(strings)
joined_string

'Hello world Claus is my name'

### 5. Set Comprehension
Creating a set with a comprehension.

In [13]:
strings = ['Hello', 'world', 'Claus', 'is', 'my', 'name']

In [14]:
unique_lengths = {len(s) for s in strings}
unique_lengths

{2, 4, 5}

### 6. Dictionary Comprehension
Creating a dictionary from two lists.

In [10]:
keys = ['name', 'age', 'gender']
values = ('Claus', 50, 'male')

In [12]:
my_dict = {key: value for key, value in zip(keys, values)}
my_dict

{'name': 'Claus', 'age': 50, 'gender': 'male'}

### 7. Function Definition
Defining a simple function in one line.

In [21]:
y = 14
x = 4

In [22]:
add = lambda x, y: x + y

### 8. Generator Expression
Using a generator for memory-efficient looping.

In [29]:
sum_of_squares = sum(x**2 for x in numbers)
sum_of_squares

550207

### 9. Chaining Comparison Operators
Checking multiple conditions.

In [28]:
in_range = 1 <= x <= 10
in_range

True

### 10. Conditional Variable Assignment
Using a ternary operator for conditional assignment.

In [26]:
age = 14

In [27]:
status = 'Adult' if age >= 18 else 'Child'
status

'Child'

### 11. Swapping Variables
Swapping the values of two variables.

In [23]:
a = 'a'
b = 'b'

In [24]:
a, b = b, a
a, b

('b', 'a')

### 12. List Slicing
Reversing a list with slicing.

In [35]:
reversed_list = numbers[::-1]
reversed_list

[500, 400, 300, 200, 100, 10, 9, 5, 1]

# Sorting

## sorted()

In [2]:
a = [3, 6, 1, 2, 9, 3, 5]
sorted(a)

[1, 2, 3, 3, 5, 6, 9]

In [3]:
a

[3, 6, 1, 2, 9, 3, 5]

Returns a sorted list. Does not change the original.

### Parameters

In [4]:
# sorted(e, reverse= True/False, key=func)

In [5]:
a = ['Hans', 'Alice', 'Bob', 'Esmarada', 'Hans Jørgen', 'Arne']
sorted(a, key=len)

['Bob', 'Hans', 'Arne', 'Alice', 'Esmarada', 'Hans Jørgen']

![](../_static/sorted.png)

#### Key functions
Sort by name with 5 or more letters.

In [6]:
def five_or_more(x):
    if len(x) >= 5:
        return False
    return True

In [8]:
sorted(a, key=five_or_more)

['Alice', 'Esmarada', 'Hans Jørgen', 'Hans', 'Bob', 'Arne']

### sorted() with lambda

In [9]:
sorted(a, key=lambda x: x[-1])

['Esmarada', 'Bob', 'Alice', 'Arne', 'Hans Jørgen', 'Hans']